In [1]:
from tableone import TableOne

from cleaning.caregivers import (
    load_data,
    get_hadm_data
)

In [2]:
df = load_data()
df_h = get_hadm_data(df)

In [3]:
columns=[
    "ADMISSION_AGE",
    "GENDER",
    "MARITAL_STATUS",
    "DISCHARGE_LOCATION",
    "ETHNICITY",
    "LOS_HADM",
    "HOSPITAL_EXPIRE_FLAG",
    "CAR",
    "LIM"
]

nonnormal = [
    "LOS_HADM",
    "ADMISSION_AGE"
]

rename = {
    "GENDER": "SEX",
    "HOSPITAL_EXPIRE_FLAG": "SURVIVED_HADM"
}

# Table 1
Total study population characteristics

In [4]:
TableOne(
    df_h,
    columns = columns,
    nonnormal = nonnormal,
    rename = rename
)

                                                            Missing           Overall
n                                                                                1596
ADMISSION_AGE, median [Q1,Q3]                                     0  65.0 [53.7,76.6]
SEX, n (%)                    F                                   0        750 (47.0)
                              M                                            846 (53.0)
MARITAL_STATUS, n (%)         DIVORCED/SEPARATED                 56         145 (9.4)
                              MARRIED                                      697 (45.3)
                              SINGLE                                       490 (31.8)
                              WIDOWED                                      208 (13.5)
DISCHARGE_LOCATION, n (%)     DEAD/EXPIRED                        0        431 (27.0)
                              HOME                                         172 (10.8)
                              HOME HEALTH CARE                             255 (16.0)
                              HOSPICE                                        38 (2.4)
                              LONG TERM CARE HOSPITAL                      290 (18.2)
                              OTHER                                          70 (4.4)
                              SNF                                          340 (21.3)
ETHNICITY, n (%)              AMERICAN INDIAN/ALASKA NATIVE       0           1 (0.1)
                              ASIAN                                          45 (2.8)
                              BLACK/AFRICAN AMERICAN                       190 (11.9)
                              HISPANIC/LATINO                                59 (3.7)
                              OTHER                                          35 (2.2)
                              UNKNOWN/NOT SPECIFIED                          82 (5.1)
                              WHITE                                       1184 (74.2)
LOS_HADM, median [Q1,Q3]                                          0   10.1 [5.3,21.2]
SURVIVED_HADM, n (%)          False                               0       1165 (73.0)
                              True                                         431 (27.0)
CAR, n (%)                    False                               0        500 (31.3)
                              True                                        1096 (68.7)
LIM, n (%)                    False                               0       1173 (73.5)
                              True                                         423 (26.5)

# Table 2
Study population stratified by child, spouse, and both (unadjusted)

In [5]:
TableOne(
    df_h,
    columns = columns,
    groupby = "ANNOTATION_CHILD",
    nonnormal = nonnormal,
    rename = rename,
    pval = True
)

                                                            Grouped by ANNOTATION_CHILD
                                                                                Missing           Overall             False              True P-Value
n                                                                                                    1596               962               634
ADMISSION_AGE, median [Q1,Q3]                                                         0  65.0 [53.7,76.6]  59.2 [48.1,69.5]  74.3 [63.0,82.6]  <0.001
SEX, n (%)                    F                                                       0        750 (47.0)        394 (41.0)        356 (56.2)  <0.001
                              M                                                                846 (53.0)        568 (59.0)        278 (43.8)
MARITAL_STATUS, n (%)         DIVORCED/SEPARATED                                     56         145 (9.4)          64 (6.9)         81 (13.3)  <0.001
                              MARRIED                                                          697 (45.3)        415 (44.7)        282 (46.2)
                              SINGLE                                                           490 (31.8)        392 (42.2)         98 (16.0)
                              WIDOWED                                                          208 (13.5)          58 (6.2)        150 (24.5)
DISCHARGE_LOCATION, n (%)     DEAD/EXPIRED                                            0        431 (27.0)        198 (20.6)        233 (36.8)  <0.001
                              HOME                                                             172 (10.8)        132 (13.7)          40 (6.3)
                              HOME HEALTH CARE                                                 255 (16.0)        165 (17.2)         90 (14.2)
                              HOSPICE                                                            38 (2.4)          27 (2.8)          11 (1.7)
                              LONG TERM CARE HOSPITAL                                          290 (18.2)        179 (18.6)        111 (17.5)
                              OTHER                                                              70 (4.4)          60 (6.2)          10 (1.6)
                              SNF                                                              340 (21.3)        201 (20.9)        139 (21.9)
ETHNICITY, n (%)              AMERICAN INDIAN/ALASKA NATIVE                           0           1 (0.1)           1 (0.1)                     0.073
                              ASIAN                                                              45 (2.8)          18 (1.9)          27 (4.3)
                              BLACK/AFRICAN AMERICAN                                           190 (11.9)        109 (11.3)         81 (12.8)
                              HISPANIC/LATINO                                                    59 (3.7)          33 (3.4)          26 (4.1)
                              OTHER                                                              35 (2.2)          21 (2.2)          14 (2.2)
                              UNKNOWN/NOT SPECIFIED                                              82 (5.1)          55 (5.7)          27 (4.3)
                              WHITE                                                           1184 (74.2)        725 (75.4)        459 (72.4)
LOS_HADM, median [Q1,Q3]                                                              0   10.1 [5.3,21.2]   11.5 [5.7,24.3]    9.0 [5.0,17.2]  <0.001
SURVIVED_HADM, n (%)          False                                                   0       1165 (73.0)        764 (79.4)        401 (63.2)  <0.001
                              True                                                             431 (27.0)        198 (20.6)        233 (36.8)
CAR, n (%)                    False                                                   0        500 (31.3)        368 (38.3)        132 (20.8)  <0.001
                              True                                                            1096 (68.7)        594 (61.7)        502 (79.2)
LIM, n (%)                    False                                                   0       1173 (73.5)        801 (83.3)        372 (58.7)  <0.001
                              True                                                             423 (26.5)        161 (16.7)        262 (41.3)
[1] Chi-squared tests for the following variables may be invalid due to the low number of observations: ETHNICITY.

In [6]:
TableOne(
    df_h,
    columns = columns,
    groupby = "ANNOTATION_SPOUSE",
    nonnormal = nonnormal,
    rename = rename,
    pval = True
)

                                                            Grouped by ANNOTATION_SPOUSE
                                                                                 Missing           Overall             False              True P-Value
n                                                                                                     1596               996               600
ADMISSION_AGE, median [Q1,Q3]                                                          0  65.0 [53.7,76.6]  66.9 [53.6,79.1]  63.1 [53.7,73.0]  <0.001
SEX, n (%)                    F                                                        0        750 (47.0)        540 (54.2)        210 (35.0)  <0.001
                              M                                                                 846 (53.0)        456 (45.8)        390 (65.0)
MARITAL_STATUS, n (%)         DIVORCED/SEPARATED                                      56         145 (9.4)        118 (12.3)          27 (4.6)  <0.001
                              MARRIED                                                           697 (45.3)        217 (22.7)        480 (82.3)
                              SINGLE                                                            490 (31.8)        427 (44.6)         63 (10.8)
                              WIDOWED                                                           208 (13.5)        195 (20.4)          13 (2.2)
DISCHARGE_LOCATION, n (%)     DEAD/EXPIRED                                             0        431 (27.0)        238 (23.9)        193 (32.2)   0.007
                              HOME                                                              172 (10.8)        102 (10.2)         70 (11.7)
                              HOME HEALTH CARE                                                  255 (16.0)        172 (17.3)         83 (13.8)
                              HOSPICE                                                             38 (2.4)          23 (2.3)          15 (2.5)
                              LONG TERM CARE HOSPITAL                                           290 (18.2)        185 (18.6)        105 (17.5)
                              OTHER                                                               70 (4.4)          46 (4.6)          24 (4.0)
                              SNF                                                               340 (21.3)        230 (23.1)        110 (18.3)
ETHNICITY, n (%)              AMERICAN INDIAN/ALASKA NATIVE                            0           1 (0.1)                             1 (0.2)  <0.001
                              ASIAN                                                               45 (2.8)          26 (2.6)          19 (3.2)
                              BLACK/AFRICAN AMERICAN                                            190 (11.9)        146 (14.7)          44 (7.3)
                              HISPANIC/LATINO                                                     59 (3.7)          46 (4.6)          13 (2.2)
                              OTHER                                                               35 (2.2)          20 (2.0)          15 (2.5)
                              UNKNOWN/NOT SPECIFIED                                               82 (5.1)          47 (4.7)          35 (5.8)
                              WHITE                                                            1184 (74.2)        711 (71.4)        473 (78.8)
LOS_HADM, median [Q1,Q3]                                                               0   10.1 [5.3,21.2]    9.2 [5.1,19.7]   12.5 [6.0,23.8]  <0.001
SURVIVED_HADM, n (%)          False                                                    0       1165 (73.0)        758 (76.1)        407 (67.8)  <0.001
                              True                                                              431 (27.0)        238 (23.9)        193 (32.2)
CAR, n (%)                    False                                                    0        500 (31.3)        362 (36.3)        138 (23.0)  <0.001
                              True                                                             1096 (68.7)        634 (63.7)        462 (77.0)
LIM, n (%)                    False                                                    0       1173 (73.5)        724 (72.7)        449 (74.8)   0.378
                              True                                                              423 (26.5)        272 (27.3)        151 (25.2)
[1] Chi-squared tests for the following variables may be invalid due to the low number of observations: ETHNICITY.

In [7]:
TableOne(
    df_h,
    columns = columns,
    groupby = "ANNOTATION_BOTH",
    nonnormal = nonnormal,
    rename = rename,
    pval = True
)

                                                            Grouped by ANNOTATION_BOTH
                                                                               Missing           Overall             False              True P-Value
n                                                                                                   1596              1356               240
ADMISSION_AGE, median [Q1,Q3]                                                        0  65.0 [53.7,76.6]  63.4 [52.7,76.5]  69.9 [61.4,77.1]  <0.001
SEX, n (%)                    F                                                      0        750 (47.0)        660 (48.7)         90 (37.5)   0.002
                              M                                                               846 (53.0)        696 (51.3)        150 (62.5)
MARITAL_STATUS, n (%)         DIVORCED/SEPARATED                                    56         145 (9.4)        132 (10.1)          13 (5.6)  <0.001
                              MARRIED                                                         697 (45.3)        498 (38.1)        199 (85.4)
                              SINGLE                                                          490 (31.8)        478 (36.6)          12 (5.2)
                              WIDOWED                                                         208 (13.5)        199 (15.2)           9 (3.9)
DISCHARGE_LOCATION, n (%)     DEAD/EXPIRED                                           0        431 (27.0)        329 (24.3)        102 (42.5)  <0.001
                              HOME                                                            172 (10.8)        161 (11.9)          11 (4.6)
                              HOME HEALTH CARE                                                255 (16.0)        227 (16.7)         28 (11.7)
                              HOSPICE                                                           38 (2.4)          32 (2.4)           6 (2.5)
                              LONG TERM CARE HOSPITAL                                         290 (18.2)        242 (17.8)         48 (20.0)
                              OTHER                                                             70 (4.4)          65 (4.8)           5 (2.1)
                              SNF                                                             340 (21.3)        300 (22.1)         40 (16.7)
ETHNICITY, n (%)              AMERICAN INDIAN/ALASKA NATIVE                          0           1 (0.1)           1 (0.1)                     0.029
                              ASIAN                                                             45 (2.8)          33 (2.4)          12 (5.0)
                              BLACK/AFRICAN AMERICAN                                          190 (11.9)        175 (12.9)          15 (6.2)
                              HISPANIC/LATINO                                                   59 (3.7)          51 (3.8)           8 (3.3)
                              OTHER                                                             35 (2.2)          31 (2.3)           4 (1.7)
                              UNKNOWN/NOT SPECIFIED                                             82 (5.1)          71 (5.2)          11 (4.6)
                              WHITE                                                          1184 (74.2)        994 (73.3)        190 (79.2)
LOS_HADM, median [Q1,Q3]                                                             0   10.1 [5.3,21.2]   10.1 [5.4,21.7]    9.9 [5.1,20.0]   0.446
SURVIVED_HADM, n (%)          False                                                  0       1165 (73.0)       1027 (75.7)        138 (57.5)  <0.001
                              True                                                            431 (27.0)        329 (24.3)        102 (42.5)
CAR, n (%)                    False                                                  0        500 (31.3)        458 (33.8)         42 (17.5)  <0.001
                              True                                                           1096 (68.7)        898 (66.2)        198 (82.5)
LIM, n (%)                    False                                                  0       1173 (73.5)       1024 (75.5)        149 (62.1)  <0.001
                              True                                                            423 (26.5)        332 (24.5)         91 (37.9)
[1] Chi-squared tests for the following variables may be invalid due to the low number of observations: ETHNICITY.

# Table 3

Study population stratified by child, spouse, and both (adjusted)

# Table 4

Include only cohort that was discharged (3-mo and 1-y mortality post discharge)

# Table 5
Which clinicians were likely to involve families within first 48 hours (clinician variation)