# Other Tables

In [1]:
import pandas as pd
from tableone import TableOne

from cleaning.caregivers.main import load_data

df = load_data()

## Annotation Counts

In [2]:
pd.crosstab(
    df["ANNOTATION_SPOUSE"],
    df["ANNOTATION_CHILD"],
    margins=True,
    margins_name="Total"
)

ANNOTATION_CHILD   False  True  Total
ANNOTATION_SPOUSE
False                531   352    883
True                 304   202    506
Total                835   554   1389