In [1]:
import pandas as pd
from tableone import TableOne

from cleaning.caregivers.main import load_data
from notebooks.tables.ref import columns, nonnormal

df = load_data()

df_survived = df[~df["HOSPITAL_EXPIRE_FLAG"]]

table = TableOne(
    df_survived,
    columns = columns,
    groupby = "ANNOTATION",
    nonnormal = nonnormal,
    pval = True
)

# Table 4

Includes only those who survived to discharge

In [2]:
table

                                                             Grouped by ANNOTATION
                                                                           Missing           Overall              BOTH             CHILD           NEITHER            SPOUSE P-Value
n                                                                                               1046               121               243               441               241
SEX, n (%)                           F                                           0        515 (49.2)         56 (46.3)        168 (69.1)        201 (45.6)         90 (37.3)  <0.001
                                     M                                                    531 (50.8)         65 (53.7)         75 (30.9)        240 (54.4)        151 (62.7)
MARITAL_STATUS, n (%)                MARRIED                                    28        423 (41.6)         99 (83.2)         45 (19.3)         94 (21.9)        185 (78.1)  <0.001
                                     NOT MARRIED                                          595 (58.4)         20 (16.8)        188 (80.7)        335 (78.1)         52 (21.9)
ETHNICITY, n (%)                     (NON-HISPANIC) WHITE                        0        785 (75.0)         97 (80.2)        164 (67.5)        327 (74.1)        197 (81.7)  <0.001
                                     OTHER                                                220 (21.0)         21 (17.4)         73 (30.0)         97 (22.0)         29 (12.0)
                                     UNKNOWN/NOT SPECIFIED                                  41 (3.9)           3 (2.5)           6 (2.5)          17 (3.9)          15 (6.2)
ADMISSION_AGE, median [Q1,Q3]                                                    0  63.1 [52.6,76.4]  68.2 [60.8,77.4]  76.2 [63.0,85.0]  58.2 [47.4,71.3]  58.3 [48.4,66.8]  <0.001
LOS_HADM, median [Q1,Q3]                                                         0    9.4 [5.5,17.2]   10.6 [6.2,17.3]    8.7 [5.2,14.1]    8.8 [5.0,17.9]   11.8 [6.5,19.8]   0.008
DISCHARGE_LOCATION, n (%)            HOME                                        0        169 (16.2)          11 (9.1)         29 (11.9)         72 (16.3)         57 (23.7)  <0.001
                                     HOME HEALTH CARE                                     222 (21.2)         25 (20.7)         55 (22.6)         96 (21.8)         46 (19.1)
                                     HOSPICE                                                30 (2.9)           5 (4.1)           4 (1.6)          12 (2.7)           9 (3.7)
                                     LONG TERM CARE HOSPITAL                              249 (23.8)         40 (33.1)         59 (24.3)        102 (23.1)         48 (19.9)
                                     OTHER                                                  70 (6.7)           5 (4.1)           5 (2.1)          41 (9.3)          19 (7.9)
                                     SNF                                                  306 (29.3)         35 (28.9)         91 (37.4)        118 (26.8)         62 (25.7)
HOSPITAL_EXPIRE_FLAG, n (%)          False                                       0      1046 (100.0)       121 (100.0)       243 (100.0)       441 (100.0)       241 (100.0)   1.000
MORTALITY_3MO_FROM_HADM_ADMIT, n (%) False                                       0        899 (85.9)        100 (82.6)        200 (82.3)        389 (88.2)        210 (87.1)   0.116
                                     True                                                 147 (14.1)         21 (17.4)         43 (17.7)         52 (11.8)         31 (12.9)
MORTALITY_1Y_FROM_HADM_ADMIT, n (%)  False                                       0        748 (71.5)         84 (69.4)        154 (63.4)        332 (75.3)        178 (73.9)   0.008
                                     True                                                 298 (28.5)         37 (30.6)         89 (36.6)        109 (24.7)         63 (26.1)
MORTALITY_6MO_FROM_ICU_OUT, n (%)    False                                       0        823 (78.7)         94 (77.7)        179 (73.7)        362 (82.1)        188 (78.0)   0.077
                                     True                                                 223 (21.3)         27 (22.3)         64 (26.3)         79 (17.9)         53 (22.0)
HAS_READMISSION, n (%)               False                                       0        687 (65.7)         78 (64.5)        153 (63.0)        278 (63.0)        178 (73.9)   0.025
                                     True                                                 359 (34.3)         43 (35.5)         90 (37.0)        163 (37.0)         63 (26.1)
IDENTIFIED_CONV_GOC, n (%)           False                                       0        397 (38.0)         35 (28.9)         74 (30.5)        216 (49.0)         72 (29.9)  <0.001
                                     True                                                 649 (62.0)         86 (71.1)        169 (69.5)        225 (51.0)        169 (70.1)
IDENTIFIED_CONV_LIM, n (%)           False                                       0        863 (82.5)         96 (79.3)        165 (67.9)        386 (87.5)        216 (89.6)  <0.001
                                     True                                                 183 (17.5)         25 (20.7)         78 (32.1)         55 (12.5)         25 (10.4)
SOFA, median [Q1,Q3]                                                             0     5.0 [3.0,7.0]     6.0 [4.0,8.0]     5.0 [3.0,7.0]     5.0 [3.0,7.0]     5.0 [3.0,7.0]   0.007
ELIX_SCORE, median [Q1,Q3]                                                       0     4.0 [3.0,6.0]     5.0 [3.0,6.0]     5.0 [3.0,6.0]     4.0 [3.0,6.0]     4.0 [3.0,6.0]   0.008
[1] Chi-squared tests for the following variables may be invalid due to the low number of observations: DISCHARGE_LOCATION, ETHNICITY.