In [1]:
import pandas as pd
from tableone import TableOne

from cleaning.caregivers.main import load_data
from notebooks.tables.ref import columns, nonnormal

df = load_data()

# Table 4

Include only cohort that was discharged (3-mo and 1-y mortality post discharge)

## Overall

In [2]:
TableOne(
    df[~df["HOSPITAL_EXPIRE_FLAG"]],
    columns = columns,
    nonnormal = nonnormal
)

                                                            Missing            Overall
n                                                                                 1046
SEX, n (%)                          F                             0         515 (49.2)
                                    M                                       531 (50.8)
MARITAL_STATUS, n (%)               DIVORCED/SEPARATED           28           92 (9.0)
                                    MARRIED                                 423 (41.6)
                                    SINGLE                                  366 (36.0)
                                    WIDOWED                                 137 (13.5)
ETHNICITY, n (%)                    ASIAN                         0           28 (2.7)
                                    BLACK/AFRICAN AMERICAN                  129 (12.3)
                                    HISPANIC/LATINO                           42 (4.0)
                                    OTHER                                     21 (2.0)
                                    UNKNOWN/NOT SPECIFIED                     41 (3.9)
                                    WHITE                                   785 (75.0)
LANGUAGE, n (%)                     ENGL                          0         915 (87.5)
                                    OTHER                                     49 (4.7)
                                    PTUN                                      26 (2.5)
                                    RUSS                                      28 (2.7)
                                    SPAN                                      28 (2.7)
ADMISSION_AGE, median [Q1,Q3]                                     0   63.1 [52.6,76.4]
LOS_HADM, median [Q1,Q3]                                          0     9.4 [5.5,17.2]
DISCHARGE_LOCATION, n (%)           HOME                          0         169 (16.2)
                                    HOME HEALTH CARE                        222 (21.2)
                                    HOSPICE                                   30 (2.9)
                                    LONG TERM CARE HOSPITAL                 249 (23.8)
                                    OTHER                                     70 (6.7)
                                    SNF                                     306 (29.3)
HOSPITAL_EXPIRE_FLAG, n (%)         False                         0       1046 (100.0)
MORTALITY_3MO, n (%)                False                       582         317 (68.3)
                                    True                                    147 (31.7)
MORTALITY_1Y, n (%)                 False                       582         166 (35.8)
                                    True                                    298 (64.2)
IDENTIFIED_CONV_GOC, n (%)          False                         0         397 (38.0)
                                    True                                    649 (62.0)
IDENTIFIED_CONV_LIM, n (%)          False                         0         863 (82.5)
                                    True                                    183 (17.5)
SOFA, median [Q1,Q3]                                              0      5.0 [3.0,8.0]
VENT_TOTAL_HOURS, median [Q1,Q3]                                  0  37.1 [13.0,118.4]
VENT_TOTAL_COUNT, median [Q1,Q3]                                  0      1.0 [1.0,1.8]
VENT_FIRST_48_HADM, n (%)           False                         0         196 (18.7)
                                    True                                    850 (81.3)
VENT_FIRST_48_ICU, n (%)            False                         0           39 (3.7)
                                    True                                   1007 (96.3)
VENT_TIME_FROM_HADM, median [Q1,Q3]                               0     3.8 [1.5,27.3]
VENT_TIME_FROM_ICU, median [Q1,Q3]                                0      1.9 [0.6,5.3]

## Has Child Documentation

In [3]:
TableOne(
    df[~df["HOSPITAL_EXPIRE_FLAG"]],
    columns = columns,
    groupby = "ANNOTATION_CHILD",
    nonnormal = nonnormal,
    pval = True
)

                                                            Grouped by ANNOTATION_CHILD
                                                                                Missing            Overall              False               True P-Value
n                                                                                                     1046                682                364
SEX, n (%)                          F                                                 0         515 (49.2)         291 (42.7)         224 (61.5)  <0.001
                                    M                                                           531 (50.8)         391 (57.3)         140 (38.5)
MARITAL_STATUS, n (%)               DIVORCED/SEPARATED                               28           92 (9.0)           51 (7.7)          41 (11.6)  <0.001
                                    MARRIED                                                     423 (41.6)         279 (41.9)         144 (40.9)
                                    SINGLE                                                      366 (36.0)         290 (43.5)          76 (21.6)
                                    WIDOWED                                                     137 (13.5)           46 (6.9)          91 (25.9)
ETHNICITY, n (%)                    ASIAN                                             0           28 (2.7)           10 (1.5)           18 (4.9)   0.005
                                    BLACK/AFRICAN AMERICAN                                      129 (12.3)          79 (11.6)          50 (13.7)
                                    HISPANIC/LATINO                                               42 (4.0)           24 (3.5)           18 (4.9)
                                    OTHER                                                         21 (2.0)           13 (1.9)            8 (2.2)
                                    UNKNOWN/NOT SPECIFIED                                         41 (3.9)           32 (4.7)            9 (2.5)
                                    WHITE                                                       785 (75.0)         524 (76.8)         261 (71.7)
LANGUAGE, n (%)                     ENGL                                              0         915 (87.5)         626 (91.8)         289 (79.4)  <0.001
                                    OTHER                                                         49 (4.7)           18 (2.6)           31 (8.5)
                                    PTUN                                                          26 (2.5)           16 (2.3)           10 (2.7)
                                    RUSS                                                          28 (2.7)            9 (1.3)           19 (5.2)
                                    SPAN                                                          28 (2.7)           13 (1.9)           15 (4.1)
ADMISSION_AGE, median [Q1,Q3]                                                         0   63.1 [52.6,76.4]   58.3 [47.7,69.3]   74.4 [62.1,83.1]  <0.001
LOS_HADM, median [Q1,Q3]                                                              0     9.4 [5.5,17.2]     9.7 [5.5,18.8]     9.0 [5.7,15.1]   0.192
DISCHARGE_LOCATION, n (%)           HOME                                              0         169 (16.2)         129 (18.9)          40 (11.0)  <0.001
                                    HOME HEALTH CARE                                            222 (21.2)         142 (20.8)          80 (22.0)
                                    HOSPICE                                                       30 (2.9)           21 (3.1)            9 (2.5)
                                    LONG TERM CARE HOSPITAL                                     249 (23.8)         150 (22.0)          99 (27.2)
                                    OTHER                                                         70 (6.7)           60 (8.8)           10 (2.7)
                                    SNF                                                         306 (29.3)         180 (26.4)         126 (34.6)
HOSPITAL_EXPIRE_FLAG, n (%)         False                                             0       1046 (100.0)        682 (100.0)        364 (100.0)   1.000
MORTALITY_3MO, n (%)                False                                           582         317 (68.3)         179 (68.3)         138 (68.3)   0.921
                                    True                                                        147 (31.7)          83 (31.7)          64 (31.7)
MORTALITY_1Y, n (%)                 False                                           582         166 (35.8)          90 (34.4)          76 (37.6)   0.528
                                    True                                                        298 (64.2)         172 (65.6)         126 (62.4)
IDENTIFIED_CONV_GOC, n (%)          False                                             0         397 (38.0)         288 (42.2)         109 (29.9)  <0.001
                                    True                                                        649 (62.0)         394 (57.8)         255 (70.1)
IDENTIFIED_CONV_LIM, n (%)          False                                             0         863 (82.5)         602 (88.3)         261 (71.7)  <0.001
                                    True                                                        183 (17.5)          80 (11.7)         103 (28.3)
SOFA, median [Q1,Q3]                                                                  0      5.0 [3.0,8.0]      5.0 [3.0,7.0]      5.0 [3.8,8.0]   0.033
VENT_TOTAL_HOURS, median [Q1,Q3]                                                      0  37.1 [13.0,118.4]  36.9 [13.0,131.3]  38.8 [13.0,107.9]   0.506
VENT_TOTAL_COUNT, median [Q1,Q3]                                                      0      1.0 [1.0,1.8]      1.0 [1.0,2.0]      1.0 [1.0,1.0]   0.467
VENT_FIRST_48_HADM, n (%)           False                                             0         196 (18.7)         137 (20.1)          59 (16.2)   0.148
                                    True                                                        850 (81.3)         545 (79.9)         305 (83.8)
VENT_FIRST_48_ICU, n (%)            False                                             0           39 (3.7)           25 (3.7)           14 (3.8)   0.980
                                    True                                                       1007 (96.3)         657 (96.3)         350 (96.2)
VENT_TIME_FROM_HADM, median [Q1,Q3]                                                   0     3.8 [1.5,27.3]     4.2 [1.4,28.0]     3.4 [1.7,24.1]   0.768
VENT_TIME_FROM_ICU, median [Q1,Q3]                                                    0      1.9 [0.6,5.3]      1.9 [0.6,5.5]      2.0 [0.6,4.9]   0.594

## Has Spouse Documentation

In [4]:
TableOne(
    df[~df["HOSPITAL_EXPIRE_FLAG"]],
    columns = columns,
    groupby = "ANNOTATION_SPOUSE",
    nonnormal = nonnormal,
    pval = True
)

                                                            Grouped by ANNOTATION_SPOUSE
                                                                                 Missing            Overall              False               True P-Value
n                                                                                                      1046                684                362
SEX, n (%)                          F                                                  0         515 (49.2)         369 (53.9)         146 (40.3)  <0.001
                                    M                                                            531 (50.8)         315 (46.1)         216 (59.7)
MARITAL_STATUS, n (%)               DIVORCED/SEPARATED                                28           92 (9.0)          76 (11.5)           16 (4.5)  <0.001
                                    MARRIED                                                      423 (41.6)         139 (21.0)         284 (79.8)
                                    SINGLE                                                       366 (36.0)         318 (48.0)          48 (13.5)
                                    WIDOWED                                                      137 (13.5)         129 (19.5)            8 (2.2)
ETHNICITY, n (%)                    ASIAN                                              0           28 (2.7)           17 (2.5)           11 (3.0)  <0.001
                                    BLACK/AFRICAN AMERICAN                                       129 (12.3)         106 (15.5)           23 (6.4)
                                    HISPANIC/LATINO                                                42 (4.0)           34 (5.0)            8 (2.2)
                                    OTHER                                                          21 (2.0)           13 (1.9)            8 (2.2)
                                    UNKNOWN/NOT SPECIFIED                                          41 (3.9)           23 (3.4)           18 (5.0)
                                    WHITE                                                        785 (75.0)         491 (71.8)         294 (81.2)
LANGUAGE, n (%)                     ENGL                                               0         915 (87.5)         595 (87.0)         320 (88.4)   0.132
                                    OTHER                                                          49 (4.7)           32 (4.7)           17 (4.7)
                                    PTUN                                                           26 (2.5)           13 (1.9)           13 (3.6)
                                    RUSS                                                           28 (2.7)           22 (3.2)            6 (1.7)
                                    SPAN                                                           28 (2.7)           22 (3.2)            6 (1.7)
ADMISSION_AGE, median [Q1,Q3]                                                          0   63.1 [52.6,76.4]   63.9 [52.7,78.3]   61.8 [51.9,71.0]   0.003
LOS_HADM, median [Q1,Q3]                                                               0     9.4 [5.5,17.2]     8.8 [5.1,16.7]    11.5 [6.3,18.6]   0.001
DISCHARGE_LOCATION, n (%)           HOME                                               0         169 (16.2)         101 (14.8)          68 (18.8)   0.289
                                    HOME HEALTH CARE                                             222 (21.2)         151 (22.1)          71 (19.6)
                                    HOSPICE                                                        30 (2.9)           16 (2.3)           14 (3.9)
                                    LONG TERM CARE HOSPITAL                                      249 (23.8)         161 (23.5)          88 (24.3)
                                    OTHER                                                          70 (6.7)           46 (6.7)           24 (6.6)
                                    SNF                                                          306 (29.3)         209 (30.6)          97 (26.8)
HOSPITAL_EXPIRE_FLAG, n (%)         False                                              0       1046 (100.0)        684 (100.0)        362 (100.0)   1.000
MORTALITY_3MO, n (%)                False                                            582         317 (68.3)         217 (69.6)         100 (65.8)   0.477
                                    True                                                         147 (31.7)          95 (30.4)          52 (34.2)
MORTALITY_1Y, n (%)                 False                                            582         166 (35.8)         114 (36.5)          52 (34.2)   0.698
                                    True                                                         298 (64.2)         198 (63.5)         100 (65.8)
IDENTIFIED_CONV_GOC, n (%)          False                                              0         397 (38.0)         290 (42.4)         107 (29.6)  <0.001
                                    True                                                         649 (62.0)         394 (57.6)         255 (70.4)
IDENTIFIED_CONV_LIM, n (%)          False                                              0         863 (82.5)         551 (80.6)         312 (86.2)   0.028
                                    True                                                         183 (17.5)         133 (19.4)          50 (13.8)
SOFA, median [Q1,Q3]                                                                   0      5.0 [3.0,8.0]      5.0 [3.0,7.0]      5.0 [3.0,8.0]   0.076
VENT_TOTAL_HOURS, median [Q1,Q3]                                                       0  37.1 [13.0,118.4]  30.2 [12.0,104.9]  60.6 [18.0,166.4]  <0.001
VENT_TOTAL_COUNT, median [Q1,Q3]                                                       0      1.0 [1.0,1.8]      1.0 [1.0,1.0]      1.0 [1.0,2.0]   0.089
VENT_FIRST_48_HADM, n (%)           False                                              0         196 (18.7)         121 (17.7)          75 (20.7)   0.267
                                    True                                                         850 (81.3)         563 (82.3)         287 (79.3)
VENT_FIRST_48_ICU, n (%)            False                                              0           39 (3.7)           28 (4.1)           11 (3.0)   0.493
                                    True                                                        1007 (96.3)         656 (95.9)         351 (97.0)
VENT_TIME_FROM_HADM, median [Q1,Q3]                                                    0     3.8 [1.5,27.3]     4.2 [1.6,23.9]     3.3 [1.4,33.9]   0.663
VENT_TIME_FROM_ICU, median [Q1,Q3]                                                     0      1.9 [0.6,5.3]      2.0 [0.7,5.4]      1.8 [0.5,5.0]   0.370

## Has Both Child and Spouse Documentation

In [5]:
TableOne(
    df[~df["HOSPITAL_EXPIRE_FLAG"]],
    columns = columns,
    groupby = "ANNOTATION_BOTH",
    nonnormal = nonnormal,
    pval = True
)

                                                            Grouped by ANNOTATION_BOTH
                                                                               Missing            Overall              False               True P-Value
n                                                                                                    1046                925                121
SEX, n (%)                          F                                                0         515 (49.2)         459 (49.6)          56 (46.3)   0.552
                                    M                                                          531 (50.8)         466 (50.4)          65 (53.7)
MARITAL_STATUS, n (%)               DIVORCED/SEPARATED                              28           92 (9.0)           87 (9.7)            5 (4.2)  <0.001
                                    MARRIED                                                    423 (41.6)         324 (36.0)          99 (83.2)
                                    SINGLE                                                     366 (36.0)         357 (39.7)            9 (7.6)
                                    WIDOWED                                                    137 (13.5)         131 (14.6)            6 (5.0)
ETHNICITY, n (%)                    ASIAN                                            0           28 (2.7)           20 (2.2)            8 (6.6)   0.015
                                    BLACK/AFRICAN AMERICAN                                     129 (12.3)         122 (13.2)            7 (5.8)
                                    HISPANIC/LATINO                                              42 (4.0)           38 (4.1)            4 (3.3)
                                    OTHER                                                        21 (2.0)           19 (2.1)            2 (1.7)
                                    UNKNOWN/NOT SPECIFIED                                        41 (3.9)           38 (4.1)            3 (2.5)
                                    WHITE                                                      785 (75.0)         688 (74.4)          97 (80.2)
LANGUAGE, n (%)                     ENGL                                             0         915 (87.5)         818 (88.4)          97 (80.2)   0.048
                                    OTHER                                                        49 (4.7)           37 (4.0)           12 (9.9)
                                    PTUN                                                         26 (2.5)           22 (2.4)            4 (3.3)
                                    RUSS                                                         28 (2.7)           24 (2.6)            4 (3.3)
                                    SPAN                                                         28 (2.7)           24 (2.6)            4 (3.3)
ADMISSION_AGE, median [Q1,Q3]                                                        0   63.1 [52.6,76.4]   62.1 [51.8,76.1]   68.2 [60.8,77.4]  <0.001
LOS_HADM, median [Q1,Q3]                                                             0     9.4 [5.5,17.2]     9.1 [5.3,17.2]    10.6 [6.2,17.3]   0.287
DISCHARGE_LOCATION, n (%)           HOME                                             0         169 (16.2)         158 (17.1)           11 (9.1)   0.046
                                    HOME HEALTH CARE                                           222 (21.2)         197 (21.3)          25 (20.7)
                                    HOSPICE                                                      30 (2.9)           25 (2.7)            5 (4.1)
                                    LONG TERM CARE HOSPITAL                                    249 (23.8)         209 (22.6)          40 (33.1)
                                    OTHER                                                        70 (6.7)           65 (7.0)            5 (4.1)
                                    SNF                                                        306 (29.3)         271 (29.3)          35 (28.9)
HOSPITAL_EXPIRE_FLAG, n (%)         False                                            0       1046 (100.0)        925 (100.0)        121 (100.0)   1.000
MORTALITY_3MO, n (%)                False                                          582         317 (68.3)         274 (68.5)          43 (67.2)   0.948
                                    True                                                       147 (31.7)         126 (31.5)          21 (32.8)
MORTALITY_1Y, n (%)                 False                                          582         166 (35.8)         139 (34.8)          27 (42.2)   0.312
                                    True                                                       298 (64.2)         261 (65.2)          37 (57.8)
IDENTIFIED_CONV_GOC, n (%)          False                                            0         397 (38.0)         362 (39.1)          35 (28.9)   0.038
                                    True                                                       649 (62.0)         563 (60.9)          86 (71.1)
IDENTIFIED_CONV_LIM, n (%)          False                                            0         863 (82.5)         767 (82.9)          96 (79.3)   0.397
                                    True                                                       183 (17.5)         158 (17.1)          25 (20.7)
SOFA, median [Q1,Q3]                                                                 0      5.0 [3.0,8.0]      5.0 [3.0,7.0]      6.0 [4.0,8.0]   0.005
VENT_TOTAL_HOURS, median [Q1,Q3]                                                     0  37.1 [13.0,118.4]  36.4 [13.0,114.0]  64.0 [18.0,143.0]   0.023
VENT_TOTAL_COUNT, median [Q1,Q3]                                                     0      1.0 [1.0,1.8]      1.0 [1.0,1.0]      1.0 [1.0,2.0]   0.962
VENT_FIRST_48_HADM, n (%)           False                                            0         196 (18.7)         174 (18.8)          22 (18.2)   0.966
                                    True                                                       850 (81.3)         751 (81.2)          99 (81.8)
VENT_FIRST_48_ICU, n (%)            False                                            0           39 (3.7)           35 (3.8)            4 (3.3)   1.000
                                    True                                                      1007 (96.3)         890 (96.2)         117 (96.7)
VENT_TIME_FROM_HADM, median [Q1,Q3]                                                  0     3.8 [1.5,27.3]     4.1 [1.5,26.9]     3.0 [1.7,29.1]   0.864
VENT_TIME_FROM_ICU, median [Q1,Q3]                                                   0      1.9 [0.6,5.3]      1.9 [0.6,5.3]      2.0 [0.6,3.9]   0.937
[1] Chi-squared tests for the following variables may be invalid due to the low number of observations: ETHNICITY, LANGUAGE, DISCHARGE_LOCATION.

## Has at Least One of Child and Spouse Documentation

In [6]:
TableOne(
    df[~df["HOSPITAL_EXPIRE_FLAG"]],
    columns = columns,
    groupby = "ANNOTATION_ANY",
    nonnormal = nonnormal,
    pval = True
)

                                                            Grouped by ANNOTATION_ANY
                                                                              Missing            Overall              False               True P-Value
n                                                                                                   1046                441                605
SEX, n (%)                          F                                               0         515 (49.2)         201 (45.6)         314 (51.9)   0.050
                                    M                                                         531 (50.8)         240 (54.4)         291 (48.1)
MARITAL_STATUS, n (%)               DIVORCED/SEPARATED                             28           92 (9.0)           40 (9.3)           52 (8.8)  <0.001
                                    MARRIED                                                   423 (41.6)          94 (21.9)         329 (55.9)
                                    SINGLE                                                    366 (36.0)         251 (58.5)         115 (19.5)
                                    WIDOWED                                                   137 (13.5)          44 (10.3)          93 (15.8)
ETHNICITY, n (%)                    ASIAN                                           0           28 (2.7)            7 (1.6)           21 (3.5)   0.220
                                    BLACK/AFRICAN AMERICAN                                    129 (12.3)          63 (14.3)          66 (10.9)
                                    HISPANIC/LATINO                                             42 (4.0)           20 (4.5)           22 (3.6)
                                    OTHER                                                       21 (2.0)            7 (1.6)           14 (2.3)
                                    UNKNOWN/NOT SPECIFIED                                       41 (3.9)           17 (3.9)           24 (4.0)
                                    WHITE                                                     785 (75.0)         327 (74.1)         458 (75.7)
LANGUAGE, n (%)                     ENGL                                            0         915 (87.5)         403 (91.4)         512 (84.6)   0.016
                                    OTHER                                                       49 (4.7)           13 (2.9)           36 (6.0)
                                    PTUN                                                        26 (2.5)            7 (1.6)           19 (3.1)
                                    RUSS                                                        28 (2.7)            7 (1.6)           21 (3.5)
                                    SPAN                                                        28 (2.7)           11 (2.5)           17 (2.8)
ADMISSION_AGE, median [Q1,Q3]                                                       0   63.1 [52.6,76.4]   58.2 [47.4,71.3]   66.6 [55.1,78.5]  <0.001
LOS_HADM, median [Q1,Q3]                                                            0     9.4 [5.5,17.2]     8.8 [5.0,17.9]     9.7 [5.9,16.9]   0.256
DISCHARGE_LOCATION, n (%)           HOME                                            0         169 (16.2)          72 (16.3)          97 (16.0)   0.085
                                    HOME HEALTH CARE                                          222 (21.2)          96 (21.8)         126 (20.8)
                                    HOSPICE                                                     30 (2.9)           12 (2.7)           18 (3.0)
                                    LONG TERM CARE HOSPITAL                                   249 (23.8)         102 (23.1)         147 (24.3)
                                    OTHER                                                       70 (6.7)           41 (9.3)           29 (4.8)
                                    SNF                                                       306 (29.3)         118 (26.8)         188 (31.1)
HOSPITAL_EXPIRE_FLAG, n (%)         False                                           0       1046 (100.0)        441 (100.0)        605 (100.0)   1.000
MORTALITY_3MO, n (%)                False                                         582         317 (68.3)         122 (70.1)         195 (67.2)   0.588
                                    True                                                      147 (31.7)          52 (29.9)          95 (32.8)
MORTALITY_1Y, n (%)                 False                                         582         166 (35.8)          65 (37.4)         101 (34.8)   0.653
                                    True                                                      298 (64.2)         109 (62.6)         189 (65.2)
IDENTIFIED_CONV_GOC, n (%)          False                                           0         397 (38.0)         216 (49.0)         181 (29.9)  <0.001
                                    True                                                      649 (62.0)         225 (51.0)         424 (70.1)
IDENTIFIED_CONV_LIM, n (%)          False                                           0         863 (82.5)         386 (87.5)         477 (78.8)  <0.001
                                    True                                                      183 (17.5)          55 (12.5)         128 (21.2)
SOFA, median [Q1,Q3]                                                                0      5.0 [3.0,8.0]      5.0 [3.0,7.0]      5.0 [3.0,8.0]   0.051
VENT_TOTAL_HOURS, median [Q1,Q3]                                                    0  37.1 [13.0,118.4]  29.8 [11.2,115.5]  44.1 [14.7,123.0]   0.008
VENT_TOTAL_COUNT, median [Q1,Q3]                                                    0      1.0 [1.0,1.8]      1.0 [1.0,1.0]      1.0 [1.0,2.0]   0.332
VENT_FIRST_48_HADM, n (%)           False                                           0         196 (18.7)          84 (19.0)         112 (18.5)   0.890
                                    True                                                      850 (81.3)         357 (81.0)         493 (81.5)
VENT_FIRST_48_ICU, n (%)            False                                           0           39 (3.7)           18 (4.1)           21 (3.5)   0.727
                                    True                                                     1007 (96.3)         423 (95.9)         584 (96.5)
VENT_TIME_FROM_HADM, median [Q1,Q3]                                                 0     3.8 [1.5,27.3]     4.3 [1.6,24.6]     3.5 [1.5,28.7]   0.553
VENT_TIME_FROM_ICU, median [Q1,Q3]                                                  0      1.9 [0.6,5.3]      2.0 [0.6,5.7]      1.9 [0.5,5.0]   0.689